<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactme</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div class="container">
        <!-- Creating nav -->
        <header>
    <nav>
        <a href="home"> Home</a>
        <a href="about">About me</a>
        <a href="products">Projects</a>
        <a href="services">Services</a>
        <a href="contact">Contact me</a>
    </nav>
</header>
<!-- Creating form for user to contact me and when click submit goes to thank you section -->
<main>
<div class="form">
    <form action="thank">
        <label for="text">First Name</label>
        <input type="text" required>
        <br><br>
        <label for="text">Middle Name</label>
        <input type="text" >
        <br><br>
        <label for="text">Second Name</label>
        <input type="text" required>
        <br><br>
        <label for="text">Phone number</label>
        <input type="number" required>
        <br><br>
        <label for="text">Email</label>
        <input type="email" required>
<br> <br>

        <label for="text">Description</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea>
        <br><br>

        <button type="submit" id="submit"> Submit</button>

        
    </form>
</div>
</main>

<footer>
  <!-- Ending with Some symbols -->
    <div id="end">
        2023 &copy; Samip Singh Karki
    </div>

</footer>
</div>
</body>
</html>