<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">

        <header>

        <!-- Creating navigation-->

            <nav>
                <a href="index"> Home</a>
                <a href="about">About me</a>
                <a href="products">Projects</a>
                <a href="services">Services</a>
                <a href="contact">Contact me</a>

            </nav>

        </header>

        <main>
            <!-- Adding logo for design and some details about me -->
            <img src="/image/logo.png" alt="Logo error">
            <h1>Hi everyone! <br> Welcome to my portfolio
            </h1>
            <h1> My name is Samip Singh Karki<br> Please visit every section to know more about me
            </h1>
            <a href="mailto:samipsinghkarki629@gmail.com" id="mail">samipsinghkarki629@gmail.com</a>

            <p>I am currently enrolled in Centennial College in Software Enginerring Technician. I have a mission to be
                a part of the software team and able to perform my best with them.</p>
        </main>

        <footer>
              <!-- Ending with Some symbols -->

            <div id="end">
                2023 &copy; Samip Singh Karki
            </div>
        </footer>
    </div>
</body>
</html>