<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <div class="container">

        <header>
<!-- Creating navigation -->
            <nav>
                <a href="home"> Home</a>
                <a href="about">About me</a>
                <a href="products">Projects</a>
                <a href="services">Services</a>
                <a href="contact">Contact me</a>
            </nav>
        </header>

        <main>
<!-- Overall description of projects -->
            <h1 id="heading">Projects</h1>

            <p>I have taken part in several projects and still I am doing my best to create some of the best projects
                which can impact the current world. Some of projects that I have done during my second semester are
                given below:
            </p>

            <div class="project1">
                <!-- Adding image and description of particular project -->
                <img src="/image/project1.png" alt="project1" id="project1img">
                <h2>Bug Smasher: </h2>
                <p id="descproject1"> This project was developed with the intention of providing individuals with a
                    relaxing escape from their busy lives through an engaging web-based game. The game gradually
                    increases in difficulty as players successfully eliminate virtual bugs, ensuring their continued
                    engagement. Throughout this academic endeavor, I acquired valuable skills in web development,
                    specifically in creating interactive games using JavaScript, HTML, and CSS. JavaScript enabled
                    dynamic interactivity, HTML structured the user interface, and CSS enhanced the game's visual
                    appeal, resulting in an immersive and enjoyable gaming experience.</p>
            </div>

            <div class="project2">
                  <!-- Adding image and description of particular project -->
                <img src="/image/project2.png" alt="project2" id="project2img">
                <h2>Image Selector: </h2>
                <p id="descproject2">This project encompasses a collection of distinct images, allowing users to
                    navigate between projects by selecting "next" or "previous." Users have the capability to designate
                    up to three images as their favorites, with the flexibility to remove selections as per their
                    preferences. Additionally, clicking on an image in the middle triggers the opening of another
                    website, where users can choose to add it to their favorites in the main website. This interactive
                    and user-centric design enhances the overall experience and engagement with the content.</p>
            </div>

            <div class="project3">
                  <!-- Adding image and description of particular project -->
                <img src="/image/project3.png" alt="project3" id="project3img">
                <h2>Multiplication of Columns and Rows:</h2>
                <p id="descproject3">
                    This project focuses on generating multiplication tables based on user input for the number of rows
                    and columns. Users can specify the dimensions they require and, upon clicking the "calculate"
                    button, a table displaying the multiplied results is generated. This quick and convenient tool
                    serves as a practical solution for people in a fast-paced world where carrying calculators is not
                    always feasible. It empowers users to perform multiplication calculations swiftly and efficiently,
                    catering to their needs for simplicity and convenience.
            </div>

        </main>

        <footer>
  <!-- Ending with Some symbols -->
            <div id="end">
                2023 &copy; Samip Singh Karki
            </div>

        </footer>

    </div>
</body>
</html>