<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <!-- Creating CSS -->
    <link rel="stylesheet" href="/css/services.css">
</head>
<body>
    <div class="container">
        <header>
        <!-- Creating Navigation -->
            <nav>
                <a href="home"> Home</a>
                <a href="about">About me</a>
                <a href="products">Projects</a>
                <a href="services">Services</a>
                <a href="contact">Contact me</a>
            </nav>
        
        </header>
        
        <main>
        <!-- Explaining Services and pictures of those servces with some explainatio -->
            <h1>Services that I can provide</h1>
        
            <div class="service1">
                <!-- Explaining first service with picture -->
                <img src="/image/service1.png" alt="Error 404" id="service1img">
                <p id="descservice1"> 
                    I possess proficient knowledge in Python and excel when collaborating within a team environment. My skill set encompasses a wide range of capabilities within the Python language, including web development and a solid familiarity with data science concepts and tools. This expertise enables me to contribute effectively to various Python-based projects, leveraging my strengths to deliver high-quality results and drive team success.
                </p>
            </div>
          
            <div class="service2">
                 <!-- Explaining second service with picture -->
                <img src="/image/service2.png" alt="Error 404" id="service2img">
                <p id="descservice2">
                    As a Software Engineering student, my educational journey encompasses a comprehensive exploration of web development, encompassing HTML, JavaScript, CSS, Node.js, and React. In addition to these front-end and back-end technologies, I have acquired knowledge in database management. Furthermore, I am confident in my ability to excel in the field of data analysis. This combination of skills positions me to contribute effectively to a wide range of software engineering projects, enabling me to bring my best to the table and make meaningful contributions in various domains.
                </p>
            </div>
        
            <div class="service3">
                 <!-- Explaining third service with picture -->
                <img src="/image/service3.jpg" alt="Error 404" id="service3img">
                <p id="descservice2">
                    Software design is indeed a pivotal aspect of app and software development, and I possess a proficient understanding of this crucial phase, spanning from fundamental concepts to advanced methodologies. My expertise encompasses the utilization of agile processes, the creation of UML diagrams, including class diagrams and context diagrams, and more. This knowledge equips me to assume a pivotal role in the creation of comprehensive and effective software designs, ensuring that projects are well-structured and aligned with best practices in the field.
                </p>
            </div>
        </main>
        
        <footer>
        <!-- Ending with some symbols -->
            <div id="end">
                2023 &copy; Samip Singh Karki
            </div>
        
        </footer>
        
        </div>
</body>
</html>